/**********************************************************************
  colors
**********************************************************************/

.soxs_blue {
	color: #051d43;
}

.soxs_red {
	color: #ed171f;
}

/**********************************************************************
  navbar
**********************************************************************/

.dropdown .dropdown-toggle {
	height:54px;
}

.glyphicon {
	font-size: 20px;
}

/**********************************************************************
  login
**********************************************************************/

.login_box {
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	width:500px;
	margin:auto;
	padding: 30px;
}

/**********************************************************************
  Data Models
**********************************************************************/

.edit_model_model {
	display:inline;
	color: #00F;
}



/**********************************************************************
  Recipes
**********************************************************************/

.recipe_detail {
	display: block;
	float:right;
	width: 70%;
	height: 100%;
}

.recipe_detail_title {
	display: block;
	width: 60%;
	height: 50px;
	margin-bottom: 20px;
}

.recipe_title_left {
	float: left;
	width: 60%;
}

.recipe_title_right {
	float: right;
	width: 35%;
}

.recipe_ingredients {
	display: block;
	width: 60%;
}

.recipe_steps {
	display: block;
	width: 60%;
}

.recpie_list {
	display: block;
	float:left;
	width: 25%;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	height: 100%;
}



.recipe_main {
	display: inline-block;
	height: 400px;
	width: 100%;
}

.recipe_title {
	display: block;
}










