<h1>{{dataType}}</h1>



<button class="btn btn-primary btn-lg" data-toggle="modal" data-ng-click="insertItem_clicked()">
  Insert {{dataType}}
</button>

<ul>
	<li data-ng-repeat='item in soxsItems | filter:tag_filter'>
		{{item.name}} -- <a href="{{item.url}}" target="_blank">{{item.url}}</a> <div data-ng-click="editItem_clicked(item)" class="edit_model_model"> Edit </div>
	</li>
</ul>







<soxsmodal></soxsmodal>
<!-- <br /><br /><br /> -->


<div class="soxs_alert" style="display:{{showAlert}}" data-ng-click="closeAlert()">
	<div class="{{alertCss}} soxs_alert_contex ">
		<span class="alert" >{{alertText}}</span>
	</div>
</div>



