<h4>{{player_message}}</h4>
<br />
<progressbar animate="true" value="current_song_progress" type="info"><b>{{current_song_progress}}%</b></progressbar>
<h5>{{song_status}}</h5>
<br />
<button class="btn btn-primary" ng-click="player.playPause()" >Play/Pause</button>
<br />
<button class="btn btn-primary" ng-click="seek()">Seek</button>
<br />
<button class="btn btn-primary" ng-click="play()" data-ng-disabled="disable_controls">Play</button>
<br />
<button class="btn btn-primary" ng-click="pause()" data-ng-disabled="disable_controls">Pause</button>
<br />
<span>Position: {{player.position}}</span>
<br />
<span>Duration: {{player.duration}}</span>
<br />
<span>Volume: {{player.volume}}</span>
<br />
<br />
<br />
<button class="btn btn-primary" data-toggle="modal" data-ng-click="getFileList()">
    Get File List
</button>
<br />
<div class="container">
<div style="max-height:650px; overflow-y: auto;overflow-x: hidden;">
    <ul class="list-group">
        <li class="list-group-item {{file.active}}" data-ng-repeat="file in filelist track by $index">
            <div data-ng-click="play_song(file.file_name)">{{file.name}}</div>
        </li>
    </ul>
</div>
</div>
