<div style="display:block;">
    <input type="button" data-ng-click="debug()" value="debug">
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">LEFT DIV
            <div class="layout_item_list" data-ng-mouseup="layout_dropped(layout_obj)" data-ng-repeat="layout_element in layout_elements">
                <div class="layout_item" ng-draggable="dragOptions">{{layout_element.name}}</div>
            </div>
        </div>
        <div class="col-md-10 column grid_area ui-widget-header ui-droppable" ng-droppable="dropObject2">
            <div id="drop_div" uid="b374e38b-f918-d6e9-52a5-dc064550e4e8">[CHILDREN]</div>
        </div>
    </div>
</div>

<div style="display:block;">
    <input type="button" data-ng-click="debug()" value="debug">
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">LEFT DIV
            <div class="layout_item_list" data-ng-mouseup="layout_dropped(layout_obj)" data-ng-repeat="layout_element in layout_elements">
                <div class="layout_item" ng-draggable="dragOptions">{{layout_element.name}}</div>
            </div>
        </div>
        <div class="col-md-10 column grid_area ui-widget-header ui-droppable" ng-droppable="dropObject2">
            <div id="drop_div" uid="877d7c17-c128-1153-58ce-8148555e85f5">[CHILDREN]</div>
        </div>
    </div>
</div>

<div style="display:block;">
    <input type="button" data-ng-click="debug()" value="debug">
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">LEFT DIV
            <div class="layout_item_list" data-ng-mouseup="layout_dropped(layout_obj)" data-ng-repeat="layout_element in layout_elements">
                <div class="layout_item" ng-draggable="dragOptions">{{layout_element.name}}</div>
            </div>
        </div>
        <div class="col-md-10 column grid_area ui-widget-header ui-droppable" ng-droppable="dropObject2">
            <div id="drop_div" uid="80345b28-3e75-ed5a-a9da-d8f8394a157d">[CHILDREN]</div>
        </div>
    </div>
</div>
