<div style="display:block;">
    <input type="button" data-ng-click="debug()" value="debug" class="btn btn-default"><br />
    <input type="button" data-ng-click="submit_layout()" value="Submit Layout" class="btn btn-default"><br />
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="layout_item_list" data-ng-mouseup="layout_dropped(layout_obj)" data-ng-repeat="layout_element in layout_elements">
                <div class="layout_item" ng-draggable="dragOptions">{{layout_element.name}}</div>
            </div>
        </div>
        <div sn-layout></div>
    </div>
</div>
