<h1>Soxs Data</h1>
<!-- {{page}} -->
<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-ng-click="insert_data_model()">
    Add Data Model
</button>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 soxsDataList">
            <ul class="nav nav-pills nav-stacked">
                <!-- <li class="active" role="presentation" data-ng-click="data_model_changed(model)">
							<a href="">Soxs Data</a>
				</li> -->
                <li data-ng-repeat="model in soxsData" role="presentation" data-ng-click="sn_model_changed(model)" data-ng-class="{'active': model.name == currentDataModel.name}">
                    <a href="">{{model.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 soxsDataDetails">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="nameInput" class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nameInput" data-ng-model="current_model.name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mongonameInput" class="col-sm-2 control-label">Mongo name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="mongonameInput" data-ng-model="current_model.mongo_name" />
                                </div>
                            </div>
                            <div class="form-group">
                            <label for="mongonameInput" class="col-sm-2 control-label">Active</label>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">                                        
                                            <input type="checkbox" data-ng-model="current_model.active" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <h4 class="modal-footer-error">{{modal_error}}</h4>
        <button type="button" class="btn btn-primary" data-ng-click="saveDataType()">{{modalSubmitText}}</button>
    </div>
</div>
</div>
