<!-- {{page}} -->
<!-- Button trigger modal -->
<div data-ng-show="show_data_builder">
    <h1>Soxs Data - {{new_field_ref.mongo_name}}</h1>
    <button class="btn btn-primary" data-toggle="modal" data-ng-click="add_data_model()">
        Add Data Model
    </button>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 soxsDataList">
            <ol class="breadcrumb">
            <li><a href="" data-ng-click="display_reset_selection()" data-ng-class="css.nav_home">data</a></li>
            <li><a href="" data-ng-click="display_data_groups()" data-ng-class="css.nav_group">{{ current_model_group }}</a></li>
            <li><a href="" data-ng-click="display_data_items()" data-ng-class="css.nav_item">{{current_model.name}}</a></li>
            </ol>
            <accordion close-others="true">
                <accordion-group heading="Item Groups" is-open="nav.groups_open">
                  <ul class="nav nav-pills nav-stacked">
                                    <li data-ng-repeat="mg in snModelGroups" role="presentation" data-ng-click="sn_model_group_changed(mg)">
                                        <a href="">{{mg}}</a>
                                    </li>
                                </ul>
                </accordion-group>
                <accordion-group heading="Items" is-open="nav.items_open">
                  <ul class="nav nav-pills nav-stacked">
                                    <li data-ng-repeat="model in snModels | filter:{ prefix: current_model_group}" role="presentation" data-ng-click="sn_model_changed(model)" data-ng-class="{'active': model.name == currentDataModel.name}">
                                        <a href="">{{model.name}}</a>
                                    </li>
                                </ul>
                </accordion-group>
            </accordion>

                <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                    <a data-ng-click="display_data_groups()">Group Selection ( {{current_model_group}} )</a>
                                 </h4>
                        </div>
                        <div id="collapseOne" collapse="data_groups_isCollapsed" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li data-ng-repeat="mg in snModelGroups" role="presentation" data-ng-click="sn_model_group_changed(mg)">
                                        <a href="">{{mg}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
        <a data-ng-click="display_data_items()">Item Selection</a>
      </h4>
                        </div>
                        <div id="collapseTwo" collapse="data_items_isCollapsed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li data-ng-repeat="model in snModels | filter:{ prefix: current_model_group}" role="presentation" data-ng-click="sn_model_changed(model)" data-ng-class="{'active': model.name == currentDataModel.name}">
                                        <a href="">{{model.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <ul class="nav nav-pills nav-stacked">
                    <li data-ng-repeat="model in snModels" role="presentation" data-ng-click="sn_model_changed(model)" data-ng-class="{'active': model.name == currentDataModel.name}">
                        <a href="">{{model.name}}</a>
                    </li>
                </ul> -->
            </div>
            <div class="col-md-9 soxsDataDetails">
                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-class="css_data"><a data-ng-click="display_data()">Data</a></li>
                    <li role="presentation" data-ng-class="css_layout"><a data-ng-click="display_layout()">Layout</a></li>
                    <li role="presentation" data-ng-class="css_json"><a data-ng-click="display_json()">JSON</a></li>
                    <li role="presentation" data-ng-class="css_add_data"><a data-ng-click="display_add_data()">Add Data</a></li>
                </ul>
                <div class="tab-content soxsContent" data-ng-show="show_data">
                    <br />
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="nameInput" class="col-md-2 control-label">Name:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="nameInput" data-ng-model="current_model.name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Mongo name:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" data-ng-model="current_model.mongo_name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Group</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" data-ng-model="current_model.prefix" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Active</label>
                                        <div class="col-md-10">
                                            <div class="checkbox" style="margin-left: 20px;">
                                                <input type="checkbox" data-ng-model="current_model.active" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fieldsInput" class="col-md-2 control-label">Fields:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" data-ng-model="new_field_name" placeholder="new field name" />
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control" data-ng-model="new_field_type" data-ng-options="snType for snType in snTypes"></select>
                                            <!-- <input type="text" class="form-control" id="mongonameInput" data-ng-model="new_field_type" placeholder="new field type" /> -->
                                        </div>
                                        <div class="col-md-1">
                                            <div class="checkbox" style="margin-left: 20px;">
                                                <input type="checkbox" data-ng-model="new_field_isArray" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" typeahead="snModel as snModel.name for snModel in snModels | filter:$viewValue | limitTo:8" data-ng-model="new_field_ref" placeholder="new field ref" />
                                        </div>
                                        <div data-ng-repeat="field in current_model.fields">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" data-ng-model="field.name" />
                                            </div>
                                            <div class="col-md-3">
                                                <!-- <input type="text" class="form-control"  data-ng-model="field.type" /> -->
                                                <select class="form-control" data-ng-model="field.type" data-ng-options="snType for snType in snTypes"></select>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="checkbox" style="margin-left: 20px;">
                                                    <input type="checkbox" data-ng-model="field.isArray" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="mongonameInput" data-ng-model="field.ref" readonly="true" />
                                            </div>
                                        </div>
                                        <div class="col-md-10"></div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary" data-ng-click="add_field()">Add Field</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-primary" data-ng-click="save_model()">Save</button>
                                            <button type="submit" class="btn btn-primary" data-ng-click="delete_model()">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content soxsContent" data-ng-show="show_layout">
                    <h3>Layout View</h3>
                    <br />
                    <button type="submit" class="btn btn-primary" data-ng-click="load_layout_builder()">Layout Builder</button>
                    <!-- <div style="display:block;width:100%">
                    <p style="display:block; word-wrap: normal;">
                    {{current_model_formatted}}
                    </p>
                    <b>Fields</b>
                    <p data-ng-repeat="field in current_model_formatted_fields">{{field}}<br /></p>
                </div> -->
                </div>
                <div class="tab-content soxsContent" data-ng-show="show_json">
                    <h3>JSON View</h3>
                    <br />
                    <div style="display:block;width:100%">
                        <p style="display:block; word-wrap: normal;">
                            {{current_model_formatted}}
                        </p>
                        <b>Fields</b>
                        <p data-ng-repeat="field in current_model_formatted_fields track by $index">{{field}}
                            <br />
                        </p>
                    </div>
                </div>
                <div class="tab-content soxsContent" data-ng-show="show_add_data">
                    <h3>Add Data View</h3>
                    <br />
                    <div id="myBuildElement"></div>
                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
        <h4 class="modal-footer-error">{{modal_error}}</h4>
        <button type="button" class="btn btn-primary" data-ng-click="saveDataType()">{{modalSubmitText}}</button>
    </div> -->
    </div>
</div>
<div data-ng-show="show_template_builder">
    <sn-templates sn-template-elements="template_elements" sn-template-data="template_data" sn-save="save_template" sn-cancel="cancel_edit"></sn-templates>
</div>
<!-- </div> -->
<!-- <tabset> -->
<!-- <tab heading="Static title">Configure Data</tab> -->
<!-- <tab heading="Static title">Configure Layout</tab> -->
<!-- <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
    <tab select="alertMe()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab> -->
<!-- </tabset> -->
