<div class="modal-body">

    <br />
    <form role="form" class="form-horizontal">
    
            <div data-ng-repeat="prop in currentDataModel">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{prop.name}}</label>
                    <soxs-item typeid='{{prop.type_id}}' prop='{{prop.name}}' ></soxs-item>
                </div>
            </div>

            <div class="form-group" style="padding-left:30px;">
                <button class="btn btn-primary" data-ng-click="editItem_clicked()">
                    Edit
                </button>
            </div>
            <br />
            <div class="form-group" style="padding-left:30px;">
                <button class="btn btn-primary" data-ng-click="deleteItem_clicked()">
                    Delete {{dataType}}
                </button>
                <button class="btn btn-primary" data-ng-click="archiveItem_clicked()">
                    Archive {{dataType}}
                </button>
            </div>
    </form>
</div>
