<div class="main_panel">

    <div class="collapse left_panel" id="left_panel1">
        <div class="left_panel_container"> 
        <h3>
            LEFT PANEL
            </h3>

        </div>
    </div>
    <div class="center_panel" id="center_panel">
        <h1>CENTER PANEL</h1>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#left_panel1" aria-expanded="false" aria-controls="left_panel1">
            Button with data-target
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#right_panel" aria-expanded="false" aria-controls="right_panel">
            Button with data-target
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#left_panel1" aria-expanded="false" aria-controls="left_panel1">
            Button with data-target
        </button>
    </div>

    <div class="collapse_width  right_panel" id="right_panel">
        <div class="right_panel_container">
            <h3>RIGHT PANEL</h3>
        </div>
    </div>
</div>
