<div class='snOutDiv'>
    <div class='snDiv'>
        <div class='snItem'>
            <input type='text' class='form-control snItem' sn-item='true' sn-item-click='onItemClick($id)' id='Textbox' data-ng-value='options[0].value'>
        </div>
        <div class='snText'>Textbox</div>
    </div>
</div>

<div class='snOutDiv'>
    <div class='snOutDiv'>
        <div class='snItem'>
            <div class='snOutDiv'>
                <div class='snItem'>
                    <input type='text' class='form-control snItem' sn-item='true' sn-item-click='onItemClick($id)' id='Textbox' data-ng-value='options[0].value'>
                </div>
                <div class='snText'>Textbox </div>
            </div>
